@import url(https://fonts.googleapis.com/css?family=Oswald:400);

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: auto;
}

.sportify_logo {
    width: 200px;
    vertical-align: middle;
}

.navbar {
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.navbar_header {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.navbar_links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_links li {
    margin: 0 10px;
    margin: 0 5em;
}

.navbar_links li a {
    text-decoration: none;
    color: black;
}

.navbar_links li:hover {
    filter: blur(0);
    cursor: pointer;
    background: linear-gradient(90deg, rgb(50, 50, 245) 35%, rgb(255, 0, 221) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button img {
    width: 25px;
    border-radius: 50%;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -15px;
    bottom: -1px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.button {
    text-decoration: none;
    float: right;
    padding: 12px;
    color: white;
    width: 50px;
    height: 45px;
    background: linear-gradient(30deg, #6c2b5d, #da2532);
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    border-radius: 0.8em;
}

.button:hover {
    width: 120px;
}

.button:hover .logout {
    opacity: .9;
}

.navbar_header span {
    position: absolute;
    top: 1em;
    right: 1em;
    color: black;
}

.header_line {
    background: linear-gradient(30deg, #6c2b5d, #da2532);
    height: 0.5em;
}

.profile {
    text-decoration: none !important;
}

.header_text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.top_content {
    margin: auto;
    width: 50%;
    text-align: center;
}
.top_content h1{
    font-family: Century Gothic;
    font-size: 40px;
}
.top_content p{
    font-size: 20px;
}
.alex_text h2{
    margin-top: 100px;
    font-size: 40px;
    font-weight: 500;
    background-image: linear-gradient(to bottom left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    letter-spacing: 0.1em;
}
.alex_text img{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.alex_text h2{
    margin-top: 100px;
}
.alex_content{
    text-align: center;
}
.alex_content h3{
    font-family: Century Gothic;
    font-size: 30px;
    letter-spacing: 0.07em;
}
.alex_content i{
    font-size: 25px;
}
.robby_text img{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.robby_content{
    text-align: center;
}
.robby_content h3{
    font-family: Century Gothic;
    font-size: 30px;
    letter-spacing: 0.07em;
}
.robby_content i{
    font-size: 25px;
}
.column {
    float: left;
    width: 50%;
    padding: 45px;
    text-align: center;
}
.column img{
    width: 350px;
    height: 400px;
    margin-bottom: 50px;
    margin-top: 100px;
}
.column h3{
    font-family: Century Gothic;
    font-size: 30px;
    letter-spacing: 0.07em;
}
.column i{
    font-size: 25px;
}
.profile {
    text-decoration: none !important;
}
