@import url(https://fonts.googleapis.com/css?family=Oswald:400);

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: auto;
}

.sportify_logo {
    width: 200px;
    vertical-align: middle;
}

.navbar {
    height: 100%;
    width: 100%;
}

.navbar_header {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.navbar_links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_links li {
    margin: 0 10px;
    margin: 0 5em;
}

.navbar_links li a {
    text-decoration: none;
    color: black;
}

.navbar_links li:hover {
    filter: blur(0);
    cursor: pointer;
    background: linear-gradient(90deg, rgb(50, 50, 245) 35%, rgb(255, 0, 221) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button img {
    width: 25px;
    border-radius: 50%;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -15px;
    bottom: -1px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.button {
    text-decoration: none;
    float: right;
    padding: 12px;
    color: white;
    width: 50px;
    height: 45px;
    background: linear-gradient(30deg, #6c2b5d, #da2532);
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    border-radius: 0.8em;
}

.button:hover {
    width: 120px;
}

.button:hover .logout {
    opacity: .9;
}

.navbar_header span {
    position: absolute;
    top: 1em;
    right: 1em;
}

.header_line {
    background: linear-gradient(30deg, #6c2b5d, #da2532);
    height: 0.5em;
}

.home_body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home_body img {
    position: absolute;
    background-color: black;
    padding-left: 500px;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.top_content {
    position: absolute;
    width: 600px;
    height: 500px;
    top: 100px;
    left: 100px;
}

.top_content h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top_content p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: floralwhite;
    text-align: left;
    line-height: 1.5;
}

.mid_body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mid_content {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

.mid_body img {
    width: 70%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.in_content_left {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.in_content_right {
    background: -webkit-linear-gradient(30deg, #0F2027, #203A43, #2C5364);
    color: #fff;
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-left: 25px;
    border-radius: 25%;
}

.inside_content h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.inside_content p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7em;
}

.inside_content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.inside_content li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.5em;
    margin-bottom: 10px;
    padding-left: 30px;
    background-image: url("img/ball.gif");
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
.profile {
    text-decoration: none !important;
}
