@import url(https://fonts.googleapis.com/css?family=Oswald:400);

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: auto;
}

.sportify_logo {
    width: 200px;
    vertical-align: middle;
}

.navbar {
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.navbar_header {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_links li {
    margin: 0 10px;
    margin: 0 5em;
}

.navbar_links li a {
    text-decoration: none;
    color: black;
}

.navbar_links li:hover {
    filter: blur(0);
    cursor: pointer;
    background: linear-gradient(90deg, rgb(50, 50, 245) 35%, rgb(255, 0, 221) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button img {
    width: 25px;
    border-radius: 50%;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -15px;
    bottom: -1px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.button {
    text-decoration: none;
    float: right;
    padding: 12px;
    color: white;
    width: 50px;
    height: 45px;
    background: linear-gradient(30deg, #6c2b5d, #da2532);
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    border-radius: 0.8em;
}

.button:hover {
    width: 120px;
}

.button:hover .logout {
    opacity: .9;
}

.profile {
    text-decoration: none !important;
}

.navbar_header span {
    position: absolute;
    top: 1em;
    right: 1em;
    color: black;
}

.header_line {
    background: linear-gradient(30deg, #6c2b5d, #da2532);
    height: 0.5em;
}

.match_container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.match_container h2 {
    font-size: 50px;
    text-align: center;
}

.custom-button {
    display: inline-block;
    color: #ffffff;
    background-color: #25d366;
    font-size: 19px;
    border: 1px solid #2d63c8;
    border-radius: 32px;
    padding: 15px 50px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 55px;
}

.custom-button:hover {
    color: #ffffff;
    background-color: #075e54;
}

.custom-button:focus {
    outline: none;
}

.grid_container {
    position: relative;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}

.grid_layout {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto auto auto;
    gap: 20px;
    font-family: 'Comic Sans', sans-serif;
}

.grid_content {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 1em;
    transition: box-shadow .3s;
    padding: 10px 25px;
}

.grid_content:hover {
    box-shadow: 0 0 30px rgba(33, 33, 33, .2);
}

.grid_content p {
    margin: 15px 5px;
}

.grid_content h3 {
    margin: 10px 0;
}

.grid_content img {
    width: 25px;
    height: auto;
    margin: 0 10px;
}

.grid_content #date_time {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: rgb(255, 32, 32);
}

.grid_content #event_name {
    font-size: 30px;
    font-weight: bold;
}

.grid_content #sport_type,
.grid_content #location,
.grid_content #price,
.grid_content #host_name,
.grid_content #player_slot {
    font-size: 17px;
}

.grid_content form {
    text-align: center;
    padding: 5px 0;
}

#join_button {
    margin: 0;
}
