<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>

        <link rel="stylesheet" href="{{ url_for('static', filename = 'dashboard.css')}}">
    </head>

    <body>
        <div class="navbar">
            <nav class="navbar_header">

                <img src="{{ url_for('static', filename = 'img/sportifyText.png')}}" alt="Logo Sportify" class="sportify_logo">

                <ul class="navbar_links">
                    <li><a href="dashboard">Home</a></li>
                    <li><a href="match">Match</a></li>
                    <li><a href="about">About</a></li>
                </ul>

                <form action="#">
                    <input type="button" value="Sign in" class="sign_in_button">
                </form>

            </nav>

            <div class="header_line"></div>

            <div class="home_body">
                <img src="{{ url_for('static', filename = 'img/ball.jpg')}}" alt="Football">
                <div class="top_content">
                    <h1>Play Hard<br>Sweat Hard</h1>
                    <p>Unlock Your Athletic Potential: Embrace the Thrill of Competition, Discover Your Perfect
                        Match, and Rise to Victory with our Sport Match Finding App!</p>
                </div>
            </div>

            <div class="mid_body">
                <div class="mid_content">
                    <div class="in_content_left">
                        <img src="{{ url_for('static', filename = 'img/player.png')}}" alt="Trent and Kai">
                    </div>
                    <div class="in_content_right">
                        <div class="inside_content">
                            <h2>Build your own rivalry</h2>
                            <p>With our matching feature, you can find players to tag along in an intense competitive
                                match!
                            </p>
                            <ul>
                                <li>Free and without hassle.</li>
                                <li>Match whenever, wherever you want.</li>
                                <li>Safe and reliable.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </body>

</html>