<!DOCTYPE html>
<html lang = "en">


<head>

    <meta charset = "UTF-8">
    <title>Login Page</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'login.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(event) {
                event.preventDefault();  // Prevent the form from submitting

                // Send an AJAX request to the Flask route
                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: $(this).serialize(),
                    success: function(response) {
                        if ('error' in response) {
                            // Display error message as a pop-up dialog
                            alert(response.error);
                        } else {
                            // Handle successful login
                            alert(response.success);
                            // Redirect to a new page or perform other actions
                        }
                    },
                    error: function(xhr, status, error) {
                        // Handle AJAX request error
                        alert('An error occurred while processing the request.');
                    }
                });
            });
        });
    </script>
</head>


<body>


    <div class = "box">
    
    
        <form method = "POST" action = "/signin">


            <h2>Sign in</h2>
     
     
            <div class = "inputBox">
     
                <input 
                    type = "text" 
                    required = "required" 
                    name = "user_id"
                    id = "user_id" 
                />
                <span>Username</span>
                <i></i>
     
            </div>


            <div class = "inputBox">
            
                <input 
                    type = "password" 
                    required = "required" 
                    name = "password"
                    id = "password"
                />
                <span>Password</span>
                <i></i>
            
            </div>
            
            
            <div class = "link">

                <a href = "#">Forgot Password</a>
                <a href = "signup">Sign Up</a>
            
            </div>
            
            
            <input type = "submit" value = "Login">
        
        
        </form>
    
    
    </div>


</body>
